body{
    background:linear-gradient(to right,rgb(253, 198, 251),rgb(135, 22, 255))
}

.fl{
    float:left;
}

.fr{
    float:right;
}
.choose-role{
    margin: 0 auto;

    position: absolute;
    top: 50%;
    left: 50%;
    
    text-align:left;

    transform: translate(-50%, -50%);
  
    height: 400px;
    width: 800px;
    
    background:white;
    
    border-radius: 25px;
    
    

    padding: 10 px;

    position:absolute;


    box-shadow: 0 0 10px rgb(26, 26, 26);
}
div.title-showing{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 70%; 
    left: 5%; 
    transform: translateY(-50%); 
    padding: 10px;

    font-weight: 400;
    font-size: large;
    font-size: 30px;
    
}

.box{
    position: relative;
    left: 70%;
    transform: translateX(-50%);
    width: 200px; 
    text-align: left;
    box-sizing: border-box;
}

.box span{
    text-align: left;
    left:5%;
    position: relative;
}


.first-name-box{top:10%;}
.last-name-box{top:20%;}
.birthdate-box{top:30%;}
.company-box{top:40%;}
.email-box{top:50%;}
.password-box{top:60%;}
.confirm-password-box{top:70%;}


.sign-up-button {
    position: absolute;
    bottom: 10px;
    right: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(246, 184, 236);
    cursor: pointer;
}

.sign-up-button:hover {
    background-color: rgb(255, 167, 240);
    box-shadow: 0 0 10px rgb(26, 26, 26);
}

.back-button {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(246, 184, 236);
    cursor: pointer;
}

.back-button:hover {
    background-color: rgb(255, 167, 240);
    box-shadow: 0 0 10px rgb(26, 26, 26);
}